.commit-header {
  font-family: monospace;
  padding-left: 10px;
  padding-right: 10px;
}

.commit-message {
  font-family: monospace;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.lineno {
  font-family: monospace;
  text-align: right;
  padding-right: 10px;
  color: rgb(192, 192, 192);
}

.blame {
  font-family: monospace;
  padding-left: 10px;
  padding-right: 10px;
}

.line {
  font-family: monospace;
  white-space: pre;
  padding-left: 10px;
}

td[data-commit="newest"] {
  background-color: rgb(192, 255, 192);
}
